<mat-card class="container">
  <mat-list>
    <h3 mat-subheader>Workflow</h3>
    <mat-list-item routerLink="/admin/checkLocations">
      <mat-icon mat-list-icon>check_circle_outline</mat-icon>
      <h4 mat-line>Locations überprüfen</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Kategorien</h3>
    <mat-list-item routerLink="/admin/deleteCategory">
      <mat-icon mat-list-icon>delete</mat-icon>
      <h4 mat-line>Kategorie löschen</h4>
    </mat-list-item>
    <mat-list-item  routerLink="/admin/addCategory">
      <mat-icon mat-list-icon>add</mat-icon>
      <h4 mat-line>Kategorie hinzufügen</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Unterkategorien</h3>
    <mat-list-item routerLink="/admin/*">
      <mat-icon mat-list-icon>delete</mat-icon>
      <h4 mat-line>Unterkategorie löschen</h4>
    </mat-list-item>
    <mat-list-item  routerLink="/admin/*">
      <mat-icon mat-list-icon>add</mat-icon>
      <h4 mat-line>Unterkategorie hinzufügen</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Orte</h3>
    <mat-list-item routerLink="/admin/*">
      <mat-icon mat-list-icon>delete</mat-icon>
      <h4 mat-line>Orte löschen</h4>
    </mat-list-item>
  </mat-list>
  
</mat-card>
