.content{
  cursor: pointer;
}

.content {
  width: 150px;
  height: 275px;
  background-color: gray;
}

.mainImage {
  height: 180px;
}

.title {
  page-break-inside: avoid;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}