
    <mat-card id="card" style="text-align: center;">
        <mat-card-title>
            Login
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="login()">
                <mat-form-field>
                    <input matInput  placeholder="Username" name="username" required [(ngModel)]="model.username">
                </mat-form-field><br/>
                <mat-form-field>
                    <input matInput type="password" placeholder="Passwort" name="password" required [(ngModel)]="model.password">
                </mat-form-field><br/>

                <button [disabled]="!loginForm.valid" mat-button type="submit" color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
