<form #loginForm="ngForm" (ngSubmit)="login()">
    <div>
        <mat-form-field>
            <input matInput  placeholder="Username" name="username" required [(ngModel)]="model.username">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
        </mat-form-field>

        <button [disabled]="!loginForm.valid" mat-button type="submit" color="primary">Login</button>
    </div>
</form>