<mat-toolbar color="primary">
    <span routerLink="/home" class="title">MosMap</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <div *ngIf="loggedIn()">Willkommen {{authService.decodedToken?.unique_name | titlecase}}</div>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button *ngIf="!loggedIn()" mat-button  routerLink="/login"><mat-icon>account_circle</mat-icon> Login</button>
      <button *ngIf="!loggedIn()" mat-button  routerLink="/register"><mat-icon>person_add</mat-icon> Registrieren</button>
      <button *ngIf="isAdmin()" mat-button routerLink="/admin"><mat-icon>dashboard</mat-icon> Admin Übersicht</button>
      <button *ngIf="loggedIn()" mat-button  (click)="logOut()"><mat-icon>close</mat-icon> Logout</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
   </button>
  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button *ngIf="!loggedIn()" mat-menu-item   routerLink="/login"><mat-icon>account_circle</mat-icon> Login</button>
    <button *ngIf="!loggedIn()" mat-menu-item   routerLink="/register"><mat-icon>person_add</mat-icon> Registrieren</button>
    <button *ngIf="isAdmin()" mat-menu-item  routerLink="/admin"><mat-icon>dashboard</mat-icon> Admin Übersicht</button>
    <button *ngIf="loggedIn()" mat-menu-item   (click)="logOut()"><mat-icon>close</mat-icon> Logout</button>
</mat-menu>





