
<mat-horizontal-stepper>  
  <mat-step [stepControl]="basicdata" label="Basisinformation">  
    <form [formGroup]="basicdata">  
      <ng-template matStepLabel></ng-template>  
      <div>  
        <div>  
          <mat-form-field>  
            <input matInput placeholder="Bezeichnung" formControlName="name">  
          </mat-form-field>  
        </div>  
        <div>  
          <mat-form-field>  
            <input matInput placeholder="Adresse der Location" formControlName="adress">  
          </mat-form-field>  
        </div>  
        <div>  
          <mat-form-field>  
              <textarea matInput placeholder="Beschreibung" formControlName="description">
              </textarea>
          </mat-form-field>  
        </div>
        <div>  
          <button mat-raised-button color="primary" style="margin-right:6px;" matStepperPrevious>Zurück</button>  
          <button mat-raised-button color="primary" matStepperNext>Weiter</button>  
        </div>   
      </div>  
      <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->  
    </form>  
  </mat-step>  
  <mat-step label="Koordinaten">  
    <form [formGroup]="coordinates">  
      <ng-template matStepLabel></ng-template>  
      <div>  
        <div>  
          <mat-form-field>  
            <input matInput placeholder="Latitude" formControlName="latitude">  
          </mat-form-field>  
        </div>  
        <div>  
          <mat-form-field>  
            <input matInput placeholder="Longitude" formControlName="longitude">  
          </mat-form-field>  
        </div>   
        <div>  
          <button mat-raised-button color="primary" style="margin-right:6px;" matStepperPrevious>Zurück</button>  
          <button mat-raised-button color="primary" matStepperNext>Weiter</button>  
        </div>   
      </div>  
    </form>  
  </mat-step>
  <mat-step>
    <mat-form-field>
      <mat-label>Kategorie</mat-label>
      <mat-select style="width: 100px;"  name="category" [(ngModel)]="selectedCategory" (ngModelChange)="getSubCategories()">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.categoryName}}
        </mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unterkategorien</mat-label>
        <mat-select style="width: 100px;"  name="subcategory"[formControl]="selectedSubCategories" multiple>
          <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory">
            {{subCategory.subCategoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-step>
  <mat-step label="Übersicht">
    <button mat-raised-button color="primary" style="margin-right:6px;" matStepperPrevious>Previous</button>  
    <button mat-raised-button color="primary" (click)="saveLocation()">Save</button>  
  </mat-step>  
</mat-horizontal-stepper>  