.container {
    display: flex;
    overflow: auto;
    justify-content: left;
    padding-bottom: 10px;
    flex: 1;
    flex-wrap: nowrap;
}

.box { 
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
}

.content{
    flex: 0 0 100%;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 5px;
  }