<mat-card>
  <mat-grid-list cols=3 rowHeight="400px" >
    <mat-grid-tile id="map" colspan="3">
      <app-map></app-map>
    </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <table style="width: 100%; height: 100%">
          <tr style="height: 10%">
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Adresse</th>
          </tr>
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.address}}</td>
          </tr>
        </table>
      </mat-grid-tile>
  </mat-grid-list>
  <mat-card class="gallery" color="primary" id="card" style="text-align: center;">
    <app-gallery *ngIf="location" [location]="location"></app-gallery>
  </mat-card>
  <app-photoUpload *ngIf="loggedIn()"[locationId]="locationId" class="uploader"></app-photoUpload>
  <mat-card class="comments" color="primary">
    <app-comment-block [locationId]="locationId"></app-comment-block>
  </mat-card>
</mat-card>
