<mat-card>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile id="map" colspan="3">
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card id="details" >
    <mat-card-title style="text-align: center;">
      {{this.name}}
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <h3 mat-subheader>Beschreibung:</h3> 
      {{this.description}}
      <mat-divider ></mat-divider>
      <h3 mat-subheader>Adresse:</h3> 
      {{this.address}}
    </mat-card-content>
</mat-card>



  <mat-card class="gallery" color="primary" id="card" style="text-align: center;">
    <app-gallery *ngIf="location" [location]="location"></app-gallery>
  </mat-card>
  <app-photoUpload *ngIf="loggedIn()" [locationId]="locationId"  class="uploader"></app-photoUpload>
  <mat-card class="comments" color="primary">
    <app-comment-block [locationId]="locationId"></app-comment-block>
  </mat-card>
</mat-card>
