
    <mat-card id="card" style="text-align: center;">
      <mat-card-title>
          Unterkategorie löschen
          <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Kategorie</mat-label>
          <mat-select style="width: 100%;" label="Kategorien" name="category" [(ngModel)]="selectedCategory" (ngModelChange)="getSubCategories()" required>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <div *ngFor="let subCategory of subCategories">
            <mat-card class="content">
              Unterkategorie-Id: {{subCategory.id}} <br>
              Unterkategorie: {{subCategory.subCategoryName}} <br>
              <button mat-flat-button color="warn" (click)="deleteSubCategory(subCategory.id)">Unterkategorie löschen</button>
            </mat-card>
          </div>
      </mat-card-content>
  </mat-card>