<mat-card id="card" style="text-align: center;">
    <mat-card-title>
        Registrierung
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form #registerForm="ngForm" (ngSubmit)="register()">
            <mat-form-field>
                <input matInput  placeholder="Username" name="username" required [(ngModel)]="model.username">
            </mat-form-field><br/>
            <mat-form-field>
                <input matInput type="password" placeholder="Passwort" name="password" required [(ngModel)]="model.password">
            </mat-form-field><br/>

            <button [disabled]="!registerForm.valid" mat-button type="submit" color="primary">Registrieren</button>
        </form>
    </mat-card-content>
</mat-card>